html,
body {
  margin: 0;
  overflow: hidden;
}

.webgl {
  position: fixed;
  outline: none;
  width: 100%;
  height: 100%;
}

button:hover {
	filter: brightness(1.35);
}

button:active {
	filter: brightness(0.7);
}

#dat-gui-container {
	background-color: #000220;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 10;
}

#toggle-flight-button {
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 10;
	background-color: #000220;
	border-radius: 7.5px;
	border: 1px solid white;
	cursor: pointer;
}

#toggle-flight-button img {
	width: 45px;
	height: 45px;
}

#title {
	color: white;
	font-family: Roboto;
	border-radius: 7.5px;
	border: 1px solid white;
	padding: 4px 8px;
	background-color: #000220;
	font-size: 24px;
	position: fixed;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
}

#speed {
	color: white;
	font-family: Roboto;
	border-radius: 7.5px;
	border: 1px solid white;
	padding: 5px;
	position: fixed;
	bottom: 10px;
	left: 10px;
	z-index: 10;
}

#speedButtons {
  position: fixed; 
  bottom: 10px; 
  right: 10px; 
  z-index: 10;
  display: none;
}

/* Show speed buttons if on mobile */
@media only screen and (max-width: 600px) {
  #speedButtons {
	display: block;
  }
}

#speedUp, #speedDown {
  background-color: #000220; 
  color: white; 
  border: 1px solid white; 
  border-radius: 7.5px; 
  padding: 5px; 
  margin: 5px; 
  cursor: pointer;
}

#reticule {
	width: 20px;
	height: 20px;
	background-color: transparent;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	pointer-events: none;
	display: none;
	border: 1px solid #ffffff;
	opacity: 0.4;
	border-radius: 50%;
	box-sizing: border-box;
}

#reticule::before, #reticule::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #ffffff;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
}

#reticule::after {
	width: 1px;
	height: 100%;
	left: 50%;
	top: 0;
	transform: translate(-50%, 0);
}